<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <title id="titles"></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A cool thing made with Glitch" />
  <link rel="stylesheet" href="/style.css" />

  <script src="https://unpkg.com/covid-charts/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/script.js" defer></script>

  <div class="imageHeader">
    <img id="country" alt="Country" />
  </div>
  <div class="struct">
    <em id="covid"></em>
    <em id="pop"></em>
  </div>
  <div class="dnimage">
    <img id="Weather" />
  </div>
  <div class="cons">
    <h4 id="csd"></h4>
    <h5 id="date"></h5>
    <hr style="width:100%;text-align:left;margin-left:0;color:cyan" />

    <p id="data"></p>
    <p id="data1"></p>
    <p id="data2"></p>
    <p id="data3"></p>
    <p id="data4"></p>
    <p id="data5"></p>
    <p id="data6"></p>
    <p id="data7"></p>

    <hr style="width:100%;text-align:left;margin-left:0" />

    <h5 id="WD"></h5>

    <hr style="width:100%;text-align:left;margin-left:0" />

    <p id="cdata"></p>
    <p id="cdata1"></p>
    <p id="cdata2"></p>
    <p id="cdata3"></p>
    <p id="cdata4"></p>
    <p id="cdata5"></p>
  </div>
  <body></body>
</html>
